{% extends 'base.html' %}
{% block title %}
<title>ScootSafe Blackbox</title>
{% endblock %}

    <body>
        <h1>
        ScootSafe BlackBox
        </h1>
        <select name="vehicles" id="vehicles">
            <option value="device1">Device1</option>
            <option value="device2">Device2</option>
            <option value="device3">Device3</option>
            <option value="device4">Device4</option>
            <option value="device5">Device5</option>
            <option value="device6">Device6</option>
            <option value="device7">Device7</option>
            <option value="device8">Device8</option>
            <option value="device9">Device9</option>
            <option value="device10">Device10</option>
        </select>
        <h2>
            This is our black box data
        </h2>
    </body>
</html>