<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewpoint" content = "width=device-width, initial-scale=1">
        <title>ScootSafe GPS</title>
    </head>

    <body>
        <h1>
        ScootSafe Find My Vehicle
        </h1>
        <select name="vehicles" id="vehicles">
            <option value="device1">Device1</option>
            <option value="device2">Device2</option>
            <option value="device3">Device3</option>
            <option value="device4">Device4</option>
            <option value="device5">Device5</option>
            <option value="device6">Device6</option>
            <option value="device7">Device7</option>
            <option value="device8">Device8</option>
            <option value="device9">Device9</option>
            <option value="device10">Device10</option>
        </select>
        <p>
            This is our map
        </p>
        <iframe
        width="600"
        height="450"
        style="border: 0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24166.5331254518!2d-77.87321394067136!3d40.78804505367778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89cea899c13bdb73%3A0x9ce1c6c2833c8091!2sState%20College%2C%20PA!5e0!3m2!1sen!2sus!4v1681675479141!5m2!1sen!2sus">
    </iframe>
    </body>
</html>