{% extends 'base.html' %}
{% block title %}
<title>ScootSafe GPS</title>
{% endblock %}

    {% block content %}
        <h1>
        ScootSafe Find My Vehicle
        </h1>
        <br>
        <button onclick="window.location.href = '/dev/choice/'">
            back
        </button>
        <br>
        <h2>
            {{ls.device_user}}
        </h2>
        <ul>
        {% for device in ls.device_set.all %}
            <li>{{device.device_name}}</li>
        {% endfor %}
        </ul>

        <iframe
        width="600"
        height="450"
        style="border: 0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24166.5331254518!2d-77.87321394067136!3d40.78804505367778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89cea899c13bdb73%3A0x9ce1c6c2833c8091!2sState%20College%2C%20PA!5e0!3m2!1sen!2sus!4v1681675479141!5m2!1sen!2sus">
    </iframe>
    {% endblock %}
</html>