{% extends 'base.html' %}
{% block title %}
<title>ScootSafe Login</title>
{% endblock %}

        {% block content %}
        <div class="container">
            <div class="login-bar">
                <h3>
                    Sign Up
                </h3>
                <form method="post" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit", name="save">
                        Enter
                   </button>
                </form>

            </div>
        </div>
        {% endblock %}