{% extends 'base.html' %}
{% block title %}
<title> ScootSafe Choice </title>
{% endblock %}

{% block content %}
        <h1>
        ScootSafe
        </h1>
        <button type="button">
            View GPS
        </button>
        <br>
        <button type="button">
            View Blackbox
        </button>
        <form method="post" action="/login/">
            {{form}}
            <button type="submit", name="save">
                 Register Device
            </button>
         </form>
{% endblock %}