{% extends 'base.html' %}
{% block title %}
<title> ScootSafe Choice </title>
{% endblock %}

{% block content %}
        <h1>
        ScootSafe
        </h1>
        <button onclick="window.location.href = 'FMD/'">
            View GPS
        </button>
        <br>
        <button onclick="window.location.href = 'blackbox/'">
            View Blackbox
        </button>

        <br>
        <br>
        <br>
        <h3>
            New Device
        </h3>

        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit", name="save">
                 Register Device
            </button>
         </form>
{% endblock %}